<style>
  .right {
    float: right;
  }
</style>
<div class="main">
  <h1>My startup progress</h1>
  <p>The OrderNo reprenets the order number (rank) of the item (phase or task) you want to add.</p>
  <button class="btn-primary"
    (click)="addPhase(newPhaseName.value, newPhaseOrderNo.value); newPhaseName.value = ''; newPhaseOrderNo.value = ''">Add Phase</button>
  <input #newPhaseName placeholder="Phase Name" class="lg-text-input"
    id="addPhaseNameInput" />
  <input #newPhaseOrderNo placeholder="Order No(can be empty)" class="lg-text-input"
    id="addPhaseOrderNoInput" />

  

  <ul>
    <li *ngFor="let phase of structuredList">{{phase.name}}
      <mat-checkbox [checked]="getPhaseStatus(phase.tasks)" class="mat-checkbox-inner-container"></mat-checkbox>
      <button class="btn-primary right" (click)="deletePhase(phase.id);">Delete phase {{phase.orderNo}}</button>
      <button class="btn-primary" (click)="addTask(newTaskName.value, newTaskOrderNo.value, phase.id); newTaskOrderNo.value = ''; newTaskName.value = '';">Add Task</button>
      <input #newTaskName placeholder="Task Name" (keyup.enter)="newTaskName.value = ''" class="lg-text-input"
        id="addTaskNameInput" />
      <input #newTaskOrderNo placeholder="Order No(can be empty)" (keyup.enter)="newTaskOrderNo.value = ''"
        class="lg-text-input" id="addTaskOrderNoInput" />
      
      <ul>
        <li *ngFor="let task of phase.tasks">{{task.name}} 
          <mat-checkbox [checked]="task.status" class="mat-checkbox-inner-container" (click)="updateStatus(task.id, !task.status)"></mat-checkbox>
          <button class="btn-primary right" (click)="deleteTask(task.id);">Delete task {{task.orderNo}}</button>
          <p></p>
        </li>
      </ul>
      <p></p> 
    </li>
  </ul>
</div>